package components

templ AuthError(message string) {
	<div id="auth_error" class="p-4 mb-4 text-xs font-bold text-red-700 bg-red-50 rounded-xl border border-red-100 animate-pulse">
		{ message }
	</div>
}
